<style>
    #shopify-section-{{ section.id }} .what-to-expect__heading {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    #shopify-section-{{ section.id }} .TITLE {
        font-family: var(--font-heading--family, "Landour Regular Text", "Landour", sans-serif);
        font-weight: 600;
        font-size: {{ section.settings.title_font_size }}px;
        color: {{ section.settings.text_color }};
        letter-spacing: 0em;
        line-height: 1.2;
        text-transform: uppercase;
    }
    #shopify-section-{{ section.id }} .subtitle {
        font-size: {{ section.settings.subtitle_font_size }}px;
        color: {{ section.settings.text_color }};
    }
</style>
<div class="what-to-expect__heading">
    {% if section.settings.title != blank %}
        <span class="what-to-expect__heading-main TITLE">{{ section.settings.title }}</span>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <span class="what-to-expect__heading-italic subtitle">{{ section.settings.subtitle }}</span>
    {% endif %}
    </div>
    {% schema %}
{
  "name": "Title Subtitle",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "REAL WOMEN"
    },
    {
      "type": "range",
      "id": "title_font_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Title Font Size",
      "default": 14
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "real results"
    },
    {
      "type": "range",
      "id": "subtitle_font_size",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Subtitle Font Size",
      "default": 14
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#3F27AE"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "What to expect"
    }
  ]
}
{% endschema %}